/* ----------------------------------------
   	Globals - included w/ all components	
-------------------------------------------*/

body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

/* Colors */

$orange: #FF5722;
$blue: #00D8FF;