
/* ----------------------------------------
   	Searchbar - Parent of [testContainer]	
-------------------------------------------*/

@import 'global.scss';


.test-container-wrapper {
	display: flex;
}

.searchbar-container {

	text-align: center;
}

.searchbar {
	height: 30px;
	width: 300px;
}

.button--search {
	height: 36px;
	width: 140px;
	color: #fff;
	background-color: $orange;
	border: none;

	&:hover {
		background-color: darken($orange, 10%);
	}
}

.globe {
    position: relative;
    top: 8px;
	color: #0056FF;
    margin-left: 17px;
    font-size: 34px;

    &:hover {
    	color: #fff;
    }
}

.pac-container { 
	height: 90px;
}
		
	