
/* ----------------------------------------
   	testContainer - child of [SearchBar]	
-------------------------------------------*/

@import 'global.scss';

.test-container {
	padding: 30px 0px 30px 30px;
    margin-top: 40px;
	height: 200px;
	width: 95%;
	background-color: rgba(0, 0, 0, 0.68);
	color: $blue;

	h1 {
		font-weight: 300;
	}
}

